<div class="fragment_210253">
[#assign currentEntry = (request.getAttribute("LIFERAY_SHARED_LAYOUT_ASSET_ENTRY"))! /]

[#if currentEntry?has_content]
  [#assign journalArticleLocalService = serviceLocator.findService("com.liferay.journal.service.JournalArticleLocalService") /]
  [#assign currentArticle = journalArticleLocalService.fetchLatestArticle((currentEntry.classPK)!0, 0) /] <!--fetch latest APPROVED article -->
  [#if currentArticle?has_content]
    [#assign document = saxReaderUtil.read(currentArticle.getContentByLocale(locale.toString()) )/]
    [#assign rootElement = document.getRootElement() ]
    [#assign xPathSelector = saxReaderUtil.createXPath("dynamic-element[@name='YoutubeUrl']") /]
    [#assign youtubeUrl = (xPathSelector.selectSingleNode(rootElement).getStringValue()?trim)!''/]
  [/#if]
[/#if]
  
  [#if youtubeUrl?has_content]
    <div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-9 col-xl-8">
          <iframe frameborder="0" scrolling="no" width="788.54" height="443" type="text/html" src="${youtubeUrl}" style="margin:0 auto; display:block"></iframe>
        </div>
      </div>
    </div>  
  [/#if]
  
  
  [#assign complete_url = request.getAttribute("CURRENT_COMPLETE_URL")!'' /]
  [#if complete_url?has_content && httpUtil.getParameter(complete_url, "p_l_mode", false)?contains("edit")]
  <div style="display:block; border:1px solid red; height:2em"><p> This fragment renders the video if it exists. </p> </div> </div><!-- this will only render in edit mode of the display page -->
[/#if]
</div>